div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 240px;
  background: lightblue;
  margin:20px;
  padding:20px;
}

span {
  font-family: Arial;
  font-size: large;
  height: 25px;
}

