div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 600px;
  background: lightgreen;
  margin:20px;
}

span {
  font-family: Arial;
  font-size: large;
  height: 25px;
}

